.floor{
  border:1px solid #C8C8C8;
  border-radius: 2px;
  .input{
    border:0;
    background: none;
    padding:8px;
    width:100%;
    box-sizing:border-box;
    height: 36px;
  }
  .turnright{
    width:40px;
    text-align: center;
    border-left:1px solid #C8C8C8;
    border-right:1px solid #C8C8C8;
    position:relative;
  }
  .iconright{
    position:absolute;
    top:18px;
    right:12px;
    background-color: #26C6DA;
    height: 2px;
    width:20px;
    
  }
  .iconarrow{
    position:absolute;
    top:14px;
    right:11px;
    width:8px;
    height: 8px;
    border-top:2px solid #26C6DA;
    border-right:2px solid #26C6DA;
    transform: rotate(45deg);
  }
  .iconup{
    position: absolute;
    right:10px;
    top:11px;
    width:8px;
    height: 8px;
    border-left:1px solid #C8C8C8;
    border-bottom:1px solid #C8C8C8;
    transform: rotate(-45deg);
    transition:all 0.2s;
  }
  .icondown{
    position: absolute;
    right:10px;
    top:16px;
    width:8px;
    height: 8px;
    border-left:1px solid #C8C8C8;
    border-bottom:1px solid #C8C8C8;
    transform:rotate(-225deg);
    transition:all 0.2s;
  }
  .floorleft {
    position:relative;
  }
  ul{
    position:absolute;
    top:36px;
    left:-1px;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    max-height: 367px;
    overflow-y: scroll;
    z-index:2;
    background-color:#fff;
    li{
      line-height: 36px;
      text-align: center;
      width:120px;
      span{
        font-size: 13px;
        color: #444444;
      }
      &:hover{
        background-color:#F5F5F5;
        cursor: pointer;
      }
      &.check{
        background-color:#2196F3;
        span{
          color:#fff;
        }
      }
      &.disabled{
        background-color:#000;
        opacity:0.2;
        cursor: not-allowed;
        span{
          color:#fff;
        }
      }
    }
  }
}