@import '../../styles/components/input.scss';
%store-select {
  padding:10px;
    .radiofir{position: relative;}
    .p-l10{padding-left: 10px}
    .KsStore{
        position:absolute;
        top:40px;
        left:0;
        right:0;
        z-index: 10;
    }
    .iconup{
      position: absolute;
      right:10px;
      top:15px;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top: 7px solid #bfcbd9;
      transition:all 0.5s;
    }
    .icondown{
      position: absolute;
      right:10px;
      top:15px;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top: 7px solid #bfcbd9;
      transform:rotate(180deg);
      transition:all 0.5s;
    }
}

%KsStore{
    .full{width:100%;}
    .perstore{
         border: 1px solid #efefef;
    }
    .checkboxall{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px 15px;
        background: #fff;
        line-height: 40px;
        cursor: pointer;
        input[type=checkbox]{
            width:18px;
            height: 18px;
            vertical-align:middle;
            margin-top:-3px;
        }
    }
    .checkboxwhole {
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px 15px;
        background: #fff;
    }
    .whole {
        border-top: 1px dashed #efefef;
        line-height: 40px;

        &:first-child {
            border-top: 0px;
        }
    }
}

.KsStoreClick{
    @extend %store-select;
    input{outline:none}
    @extend %KsStore;
    .KsStoreClick-input{
        @extend %input;
    }

}

.KsStore{
     @extend %KsStore;
     overflow:scroll;
}
