// 调色板
$primarys:	#e74c39 #ea6953 #e9b9a7;
$successes:	#43A047 #4CAF50 #66BB6A;
$infos:		#00ACC1 #00BCD4 #26C6DA;
$dangers:	#E53935 #F44336 #EF5350;
$warnings:	#F4511E #FF5722 #FF7043;
$darks:		#444444 #777777 #999999 #C8C8C8;
$grays:		#E9E9E9 #F5F5F5 #FCFCFC;
