.KsTable-multiple{
    overflow-y: hidden;
    margin: 0 -20px;
    margin-bottom: 20px;
    & > table{
        width: 100%;
        white-space: nowrap;
        thead{
            border-bottom: 1px solid #999;
            border-top:1px solid #e9e9e9;
            div{
                border-bottom: 1px solid #999;
                margin-right: -20px;
            }
        }
        th{
            font-weight: bold;
            text-align: left;
            padding: 0 20px;
            font-size: 12px;
        }
        td{ 
            padding: 10px 20px;
            border: 0;
            line-height: 1.7em;
            border-bottom: 1px solid #e9e9e9;
            vertical-align:top;
            a{
                color: #2196F3;
                cursor: pointer;
            }
            i{ padding-right: 10px; }
        }
    }
    & tbody tr:nth-of-type(odd) { background-color: #fcfcfc; }
}



/* table基础样式 */
%table-layout{
    padding: 10px 20px;
    border: 0;
    line-height: 1.7em;
}
%table-td{
    @extend %table-layout;
    border-bottom: 1px solid #e9e9e9;
    vertical-align:top;
    a{
        color: #2196F3;
        cursor: pointer;
    }
    i{ padding-right: 10px; }
}
%table{
    width: 100%;
    white-space: nowrap;
    th{
        @extend %table-layout;
        // border-bottom: 1px solid #999;
        // border-top:1px solid #e9e9e9;
        font-weight: bold;
        text-align: left;
    }
    td{ @extend %table-td; }
}
.KsTable-striped {
    overflow-y: hidden;
    margin: 0 -20px;
    margin-bottom: 20px;
    table { 
        @extend %table; 
        border-top: 1px solid #e9e9e9;
    }
    & tbody {
        border-top: 1px solid #999;
    }
    & tbody tr:nth-of-type(odd) { background-color: #fcfcfc; }

    .multiple-tit{
        // border-bottom: 1px solid #999;
        // border-top:1px solid #e9e9e9;
        .tit-bor{
            border-bottom: 1px solid #999;
            margin-right: -20px;
        }
        th{
            font-weight: bold;
            text-align: left;
            padding: 0 20px;
            font-size: 12px;
        }
    }
} 