@import '../../styles/components/input.scss';
%store-select {
    .radiofir{
      position: relative;
      .full{
        width:100%;
      }
    }
    .store_pos{
        position:absolute;
        top:40px;
        left:0;
        right:0;
        z-index: 10;
        overflow:scroll;
    }
}
%KsList{
  ul {
        overflow:hidden;
        margin-top: 20px;
        li{
            margin-right: 10px;
            margin-bottom: 20px;
            float:left;
            cursor: pointer;
            span{
                padding:5px 10px;
                background-color: #f5f5f5;
                display: block;
                border-radius:2px;
                border: 1px solid #f5f5f5;
            }
            &.check{
                span{
                  color:#2196F3;
                  background: #FFFFFF;
                  border: 1px solid #2196F3;
                }
            }
        }
    }
}

.KsDialogChoose{
    @extend %store-select;
    .txtr{text-align:right}
    .btngroup{
        .mr-10{margin-right:10px}
        .mt-20{margin-top:20px;}
        .checkall{
          margin-right: 20px;
          font-family: PingFangSC-Regular;
          font-size: 13px;
          color: #2196F3;
          line-height: 13px;
          cursor: pointer;
        }
        .reset{
          margin-right: 10px;
          font-family: PingFangSC-Regular;
          font-size: 13px;
          color: #2196F3;
          line-height: 13px;
          cursor: pointer;
        }
        .errortxt{
          float: left;
          color:red;
        }


    }

    @extend %KsList;
    .KsDialogChoose-input{
      @extend %input;
    }
    
}
.KsList{
  @extend %KsList;
}


