.page-title{
	padding-left: 20px;height: 46px;line-height: 46px;
	background-color: #fff;font-size: 22px;
}
.forgetpassword-config{
	.four-type{
	    margin-bottom: 100px;overflow: hidden;
	    div{
			float: left;
	        text-align: center;
	    }
	}
	.pr{
		border-bottom: 3px solid #f0f0f0;
	    color:#999999;
	}
	.pr.active{
		border-bottom: 3px solid #e76b5f;
	    color: #e76b5f;
	}
	.w265{
	    width: 265px;height:50px;line-height: 50px;box-sizing: border-box;
	}
	.bg{
		margin: 0px auto;padding: 0 20px;margin-top: 20px;width:1060px;height: 600px;
		background:#fff;border-radius: 3px;
	}
	.f18{
		margin: auto;padding: 0 20px;line-height: 80px;height: 80px;width: 480px;
	    font-size: 18px;background-color: #f0f0f0;
		img{
			margin-top:16px;
		}
		a:hover{
			background-color: #e74c39!important;
		}
	}
	.f11{
		margin: auto;width: 200px;
		a{
			width: 82% !important;
			background-color: #e76b5f;
		}
		a:hover{
			background-color: #e74c39!important;
		}
	}
	.f2{
		text-align:center;
	}
	.form-row{
	    margin-bottom: 20px;overflow: hidden;
	    div{
			float: left;display: inline-block;
	        line-height: 35px;
	    }
	    .form-label{
			margin-right: 10px;width: 110px;
	        text-align: right;
	        input{
				width: 355px;
	        }
	        a{
				margin-left: 20px;
	        }
	        .btn-gray{
	        	background-color:#999999;color:#fff;
	        }
	        .btn-primary{
	        	background-color:#e76b5f;color:#fff;
	        }
	    }
	    .form-input{
	    	margin-left:34%;
	        input{
	            width: 350px;border-radius:0px;
	        }
	        .input245{
	            width: 245px;
	        }
	    }
	    .img{
			margin-left: 10px;width: 95px;height: 33px;border: 1px solid #dadada;border-radius: 3px;
			cursor:pointer;
	        img{
	            height: 33px;width: 97px;
	        }
	    }
	    .btn{
	        width: 100px;
	    }
	}
	.f17{
	    color:#999999;text-align:center;
	}
	.verify-title{
		margin-bottom: 20px;
		text-align: center;
	}
	.forget-3{
	    .form-label{
			margin-top: 24px;width: 480px;
	        .input{
				width: 355px;border-radius: 0;
	        }
	    }
	    .btn{
	        display: inline-block;
			line-height: 100%;box-sizing:border-box;width: 100px;
	    }
	}
}