.password-config{
	background-color:#fff;
	.four-type{
		display: flex;
        overflow: hidden;margin:0 auto 100px auto;
        div{
			float: left;
            text-align: center;
		}
	}
	.pr{
		flex:1;border-bottom: 3px solid #f0f0f0;
		color:#999999;
	}
	.pr.active{
		border-bottom: 3px solid #e76b5f;
		& > div{
			color: #e76b5f;
		}
	}
	.w265{
		width: 313px;height:50px;line-height: 50px;box-sizing: border-box;
	}
	.bg{
		margin: 0px auto;height: 600px;
	    background:#fff;
	}
	.f18{
		margin: auto;padding: 0 20px;height: 80px;width: 480px;line-height: 80px;
		background-color: #f0f0f0;font-size: 18px;
		img{
			margin-top:16px;
		}
	}
	.f17{
	    color:#999999;text-align:center;
	}
	.f11{
		margin: auto;width: 200px;
		a{
			width: 82% !important;
			background-color: #e76b5f;
		}
	}
	.f2{
		text-align:center;
	}
	.form-row{
	    margin-bottom: 20px;overflow: hidden;
		div{
			float: left;display: inline-block;
			line-height: 35px;
		}
		.btn-primary:hover{
			background-color:#e74c39 !important;
		}
		.form-label{
			margin-right: 10px;width: 110px;
		    text-align: right;
		    input{
				width: 355px;
		    }
		    a{
				margin-left: 20px;
		    }
		    .btn-gray{
		    	background-color:#999999;color:#fff;
		    }
		    .btn-primary{
		    	background-color:#e76b5f;color:#fff;
		    }
		}
		.form-input{
		    margin-left:34%;
		    input{
		        width: 350px;border-radius:0px;
		    }
		    .input245{
		        width: 245px;
		    }
		}
		.img{
			margin-left: 10px;height: 33px;width: 95px;border: 1px solid #dadada;border-radius: 3px;
		}
		.btn{
		    width: 200px;
		}
	}
	.f17{
	    color:#999999;text-align:center;
	}
	.verify-2{
	    .form-label{
			margin-top: 24px;width: 480px;
	        .input{
				width: 355px;border-radius: 0;
	        }
	    }
	    .btn{
	        display: inline-block;
			line-height: 100%;box-sizing:border-box;width: 100px;
	    }
	}
	.verify-title{
		margin-bottom: 20px;
		text-align: center;
	}
	.verify-3{
		.newpassword-title{
			padding-left: 34%;
		}
		.form-row.f11{
			width:200px;
			margin: 0;
			padding-left: 39%;
		}
	}
}