
.activity-pdfout{
	.activityBaseInfo{
		padding:40px 45px;
		.activity-title{
			display: block;
			margin-bottom: 20px;
		}
		.activity-flex{
			display:flex;
			color:#999;
			padding: 5px 0;
			div{
				flex:1;
				span{
					margin-left:15px;
					color: #000;
				}
			}
			div:first-child{
				flex: inherit;
				width: 360px;
			}
		}
	}
	.content_dialog{
		.kdialog{
			position: fixed !important;
			max-width: 700px;
			.btn-primary:hover{
				background-color: #e74c39!important;
			}
			.primary:hover{
				background-color: #e74c39!important;
			}
		}
	}
}