.activity-data-overview{
	background: none !important;
	padding:0 !important;
	.search-bg{
		height: 280px;
		background-color: #212528;
		color: #fff;
		border-radius: 5px;
		.search-show{
			position: relative;padding-top: 30px; margin: auto;
			width: 300px; height: 37px; 
			.input{
				float: left;
				height: 36px !important;
			}
			.searchBtn{
				float: left;
				margin-left: 20px !important;
			}
			.showList{
				position: absolute;top: 66px;left: 0;padding: 15px 15px 0 15px;
				min-width: 158px;max-height: 400px;
				background: #fff;color:#444;border: 1px solid #ddd;border-radius: 5px;overflow: auto;z-index: 999;
				ul{
					li{
						margin-bottom: 10px;
						cursor: pointer;
						&:hover{
							color:#2196f3;
						}
					}
					.checked{
						color:#2196f3;
					}
				}
			}
		}
		span{
			display:block;
			text-align: center;
			margin-top: 20px;
			i{ 
				margin: 0 10px;
				font-style: normal;
			}
		}
	}
	.chart-show{
		padding: 0 80px;
		margin-top: -150px;
		.flex{
			display:flex;
			height:300px;
			cursor: pointer;
			div{
				flex:1;
				h4{
					height: 45px;
					line-height: 45px;
					padding-left: 15px;
				}
			}
		}
		.border{
			border-radius:5px;
			overflow: hidden;
			color: #fff;
			.left,.center,.right{
				height:100%;
				.echart-div{
					height: 255px;
					// width: 255px;
					margin: auto;
				}
			}
			.left{
				flex:1;
				background-color: #292c35;
			}
			.center{
				flex:1.2;
				background-color: #19191a;
			}
			@media only screen and (max-width: 1366px){
				.center{
					flex:1;
				}
			}
			.right{
				flex:1;
				background-color: #292c35;
			}
		}
		.short{
			height: 180px;
			margin-top: 30px;
			.echart-div{
				margin-top: 15px;
				padding-left: 20px;
				table{
					border-width: 0 !important;
					tr{
						background:none !important;
					}
					tr:first-child{
						color: #10b283;
						font-size: 22px;
					}
				}
			}
			.center>.echart-div{
				border-left: 1px solid #e7e7e7;
				border-right: 1px solid #e7e7e7;
			}
		}
	}
}