.activity-analysis,.activity-pdfout{
	.analysis-title{
		width: 100%;height: 180px;
		background: url("../img/analysis-title.png");border-radius: 5px;
		h1{
			position:relative;
			padding:75px 0 0 45px;line-height: 100%;
			color:#12966f;
			i{
				font-style: normal;
				padding-right: 15px;
			}
			.btn{
				position: absolute;right: 45px;top: 75px;
				padding: 0;width: 145px;height:33px;line-height: 33px;border-radius: 25px;
			}
		}
		h3{
			padding-left: 70px;opacity: 0.5;
			color:#fff;
		}
		.btn-primary:hover{
			background-color: #e74c39!important;
		}
	}
	.analysis-data{
		padding: 40px 45px;
		.data-title{
			margin-bottom: 20px;
			display: table;  width: 100%;
			span{
				display: table-cell;
				padding-bottom: 5px;border-bottom: 2px solid #dadada;
				text-align: center;cursor: pointer;
			}
			.active{
				color:#e66a5e;border-color:#e66a5e;
			}
		}
		.data-labels{
			margin-bottom: 20px;
			.labels-title{
				span{
					padding: 0 20px;margin-right: 15px;height: 24px;line-height: 24px;border-radius: 15px;
					color: #fff;background: #999;
				}
				.active{
					background: #12966f;
				}
			}
			.labels-lists{
				display: table;overflow: hidden;
				padding-top: 20px;width: 100%;
				div{
					display: table-cell;
					padding-left: 10px;padding-top: 10px;margin-right: 80px;height: 45px;line-height: 100%;min-width: 140px;border-left:2px solid #e66a5e;
					& > p:first-child{
						margin-bottom: 10px;
						font-size: 18px;color: #000;font-weight:600;
					}
					p{
						color:#999;font-size: 12px;
					}
				}
			}
		}
		.data-table{
			h3{
				padding-top:30px;padding-bottom: 10px;
				color: #000;
			}
			.table-btns{
				& > span{
					padding: 0 20px;margin-right: 15px;height: 24px;line-height: 24px;border-radius: 15px;
					color: #fff;background: #999;
				}
				& > span.active{
					background: #12966f;
				}
				& > div{
					float: right;
					color:#999;
					span{
						margin-right: 10px;
						font-size: 14px;cursor: pointer;
					}
					span:last-child{
						margin-left: 40px;
					}
					.active{
						color:#15a2fa;
					}
				}
			}
			.table-init{
				width:100%;min-height: 400px;
			}
		}
	}
}