.activity-manage{
	padding:20px !important;
	.activity-title{
		.search-div{
			margin-bottom:20px;
			.KsDatePicker{
				display: inline-block;
				width: 200px;
			}
			& > div,& > span,& > input,& > select,& > a{
				float: left;
				margin-right: 15px;margin-bottom:10px;
			}
			& > span{
				line-height: 40px;
			}
			& > select{
				width: 150px;height: 38px;
			}
			.btn-primary{
				float: right;
			}
			.btn-primary:hover{
				background-color: #e74c39!important;
			}
			.KSNRCheckbox{
				margin-top: 4px;
			}
			.KsDaterMultiPicker{
				vertical-align: middle;
				.KsDaterMulti{
					left:0;
				}
			}
		}
		.search-div::after{
			display: table-row !important;
		}
		.search-table{
			display: table;
			padding: 0 !important;width: 100%;
			.conditions-list{
				.select,.input{
					height: 38px;
				}
				span{
					padding:0 10px;
				}
			}
		}
		.search-float{
			padding:0 !important;
			height: 35px;
			min-width: 420px;
			float: right;
		}
	}
	.table-row{
		clear:both;
	}
}


